html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  vertical-align: bottom;
  transition: color .4s ease-out;
}

a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #00cbfd  0%, #c2e59c 100%);
  transition: transform .25s ease-out;
}

a:hover { 
  color: #fff; 
  font-size: 20px;
}

a:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}